body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #6b98e1;
}

.chess-board {
  display: grid;
  grid-template-columns: repeat(8, 60px);
  grid-template-rows: repeat(8, 60px);
}

.square {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  height: 50px;
}

.white {
  background-color: white;
}

.black {
  background-color: gray;
}
